/**
 * ClujCowork.ro
 */

/* Get the google font */
@import url('http://fonts.googleapis.com/css?family=Asap:400,700,400italic&subset=latin,latin-ext');

body {
  background-image: url('../img/fabric_plaid.png');
  margin-top: 50px;
  margin-bottom: 30px;
  color: #998765;
}
.container {
  padding: 30px 20px;
  background-color: #FFF;
}

h1, h2, h3, h4, h5 {
  color: #998765;
}

header h1, header h2, header h3 {
  color: #C00000;
}

header .logo {
  text-transform: uppercase;
  color: #C00000;
}

header .logo h1 {
  margin-bottom: -7px;
}

header .cluj, header .logo h5 {
  color: #000;
}

header .info {
  text-align: right;
  font-weight: normal;
}

.whatsallabout {
  margin-left: 0;
  padding: 19px 0;
}

.whatsallabout iframe {
  min-height: 200px;
}

footer .location {
  text-align: right;
}

.carousel-caption {
  background-color: #998765;
  background-color: rgba(153, 135, 101, 0.7);
}

[class^="icon-"] {
  background-image: url(../img/glyphicons-halflings.png) !important;
}
