@mixin sans-family {
  font-family: "ff-meta-web-pro", "Helvetica Neue", Arial, sans-serif;
}

@mixin serif-family {
  font-family: "ff-meta-serif-web-pro", Georgia, serif;
}

@mixin sans-family-fallback {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

@mixin serif-family-fallback {
  font-family: Georgia, serif;
}

@mixin monospace-family {
  font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, Courier, monospace, sans-serif;
}