.branding-huge {
  background: $mainColor;
  padding: 60px 0 0 0;
  height: 300px;

  .overlay {
    background: $white;
    background: rgba(255, 255, 255, 0.9);
    position: relative;
    top: 250px;
    margin-top: -220px;
    z-index: 10;
    padding: 20px;

    h1 {
      color: $bw_3;
      font-size: $headingFontSize;
      font-weight: 300;
    }
  }
}

.mock-grid {
  min-height: 480px;
  background: url("/assets/images/bg.jpg") top center;
}

.lots-of-friends {
  h2 {
    color: $mainColor;
    font-weight: 300;
  }
}
