.branding-huge {
  background: $mainColor;
  padding: 40px 0;

  .overlay {
    background: $white;
    background: rgba(255, 255, 255, 0.9);
    position: relative;
    top: 250px;
    margin-top: -150px;
    z-index: 10;

    h1 {
      color: $bw_3;
      font-size: $headingFontSize;
      font-weight: 300;
    }
  }
}

.lots-of-friends {
  h2 {
    color: $mainColor;
    font-weight: 300;
  }
}
