.prices-n-perks {
  #container .content {
    .pricelist .columns {
      &.first, &.second {
        padding-right: 0;

        ul {
          border-right: none;
        }
      }
      &.second, &.third {
        padding-left: 0;
      }

      .title {
        font-weight: 300;
        text-transform: uppercase;
      }

      .cta-button {
        padding: 15px;
      }
    }

    h5 {
      font-weight: 300;
      font-size: $heading5FontSize;
    }
  }
}
