<div class="four end columns sidebar">

  <h3><a href="https://twitter.com/clujcowork">Twitter Feed</a></h3>

  <div id="twitter">
    <div class="twitter-timeline" data-dnt="true" href="https://twitter.com/clujcowork" data-widget-id="389365296126885888" data-chrome="nofooter transparent noheader noscrollbar noborders" data-tweet-limit="5" height="600"></div>
  </div>

  <hr>

  <h3><a href="events.html">Upcoming</a></h3>
  <div id="events-widget">
    <div class="gcf-item-container-block">
      <div class="gcf-item-block">
        <p class="gcf-item-header-block">
          <em class="gcf-item-date-block">
            <span class="gcf-item-daterange"></span>
          </em>
          &mdash;
          <em class="gcf-item-title-block">
            <span class="gcf-item-title"></span>
          </em>
        </p>
      </div>
    </div>

  </div>
</div>

<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>
