<!doctype html>

<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{ page.title }} / Cluj Coworking Space</title>
  <meta name="description" content="First Coworking Space in Cluj-Napoca, Transilvania">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link href='assets/images/favicon.png' rel='icon' type='image/png' >
  <link rel="stylesheet" href="/assets/stylesheets/app.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>
<body class="{{page.class_name}}">

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=502596706481847";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <header>
    <div class="row">
      <div class="six offset-by-one columns">
        <a href="/" title="Cluj Cowork" class="branding">
          <img src="/assets/images/clujcowork.png" alt="Cluj Cowork Logo">
        </a>
      </div>

      <div class="five end columns navigation">
        <ul>
          <li><a href="about.html" class="about">About</a></li>
          <li><a href="events.html" class="events">Events</a></li>
          <li><a href="prices-n-perks.html" class="prices-n-perks">Prices &amp; Perks</a></li>
          <li><a href="partners.html" class="partners">Partners</a></li>
          <li><a href="contact.html" class="contact">Contact</a></li>
        </ul>

        <hr class="red stripe">
      </div>
    </div>
    <a href="https://www.facebook.com/ClujCowork"  target="_blank" class="right facebook-icon"><img src="/assets/images/facebook.png"></a>
  </header>

  <div id="container">
    {{ content }}
  </div>

  <footer>
    <div class="row">
      <div class="six offset-by-one columns from-left">
        <p>
          Coworking in Cluj-Napoca since 2012.
          <br>
          With <span class="love">&#10084;</span> from Transilvania.
        </p>
        <p class="faded">Last update: {{ site.time }}</p>
      </div>

      <div class="five end columns details">
        <hr class="red stripe">

        <div class="vcard">
          <div class="adr">
            <div class="street-address">23rd Emil Isac</div>
            <span class="locality">Cluj-Napoca</span>,
            <span class="region">Cluj</span>,
            <span class="postal-code">400023</span>
            <span class="country-name">Romania</span>
          </div>
          <div class="tel">{{ site.phone }}</div>
          <div class="office-tel">{{site.office-phone}}</div>
        </div>
      </div>
    </div>
  </footer>

  <script src="/assets/javascripts/jquery.gcal_flow.js"></script>
  <script src="/assets/javascripts/app.js"></script>
  <script>
    var _gaq=[['_setAccount','{{ site.ga }}'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
     g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
     s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
